body {
  margin: 10px;
  padding: 10px;
}

.grid {
  display: flex;
  width: 420px;
  height: 420px;
  border: 2px solid black;
  flex-wrap: wrap;
}

.grid div {
  width: 15px;
  height: 15px;
}

.dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.powerup {
  background-color: green;
  border-radius: 7.5px; 
}

.pacman {
  background-color: orange;
  border-radius: 7.5px;
  border: none;
}

.ghost1, .ghost2, .ghost3, .ghost4 {
  border: none;
}

.ghost1 {
  background-color: red;
}

.ghost2 {
  background-color: pink
}

.ghost3 {
  background-color: purple;
}

.ghost4 {
  background-color: chocolate
}