body {
  font-family: "Nunito", sans-serif;
}

#playingArea {
  position: absolute;
  border: 2px solid green;
  background-color: rgb(216, 216, 216);
  top: 10px;
  left: 10px;
}

#playingArea > * {
  position: absolute;
}

#paddle {
  bottom: 30px;
  left: 228px; /* Arbitrary value*/
  width: 64px;
  height: 16px;
  background-color: red;
}

#ball {
  top: 8px; /* Arbitrary value */
  left: 100px; /* Arbitrary value */
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: blue;
}

#score {
  bottom: 0px;
  left: 0px;
  width: calc(100% - 10px);
  height: 20px;
  color: white;
  background-color: green;
  padding: 5px;
}

#controls {
  position: absolute;
  z-index: 5;
  top: 40px;
  width: 200px;
  margin-left: calc((100% - 216px) / 2);
  border: 3px solid black;
  padding-bottom: 5px;
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  display: none;
}

#controls h3 {
  color: white;
  background-color: cornflowerblue;
  padding: 10px 5px;
  margin-top: 0px;
}

#controls button,
#controls select {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  min-width: 100px;
}

#controls > * {
  font-family: inherit;
}

#gear {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
}

fieldset {
  text-align: left;
  width: 70%;
  margin: 10px auto;
}
